
.przejscie{
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;
    border-color: black;
    background-color: darkgrey;
    padding: 5px;
    flex: 1 1 150px;

}


.data-przejscia{
    
    border-radius: 7px;
    padding: 10px;
    background-color: rgb(39, 39, 39);
    color: rgb(180, 180, 180);
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    
    margin: 10px;
    flex-grow: 1;
}

.uwagi-do-przejscia{
    border-radius: 7px;
    
    margin: 10px;
    flex-grow: 2;

}
.gora{
    flex-grow: 2; 
}